:root {
  --title_color: #444;
  --text_color: #014;
}

html {
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: thick double green;
  border-color: transparent;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #f88;
}

.noscroll {
  overflow: hidden;
}

