@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
@import './reset.css';
@import './base.css';

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(40px, auto);
  min-height: 100vh;
}
.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-image: linear-gradient(25deg, #02fdb6bf 0%, #02f1fdba 100%);
}
.app-title {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: .1em;
  color: var(--title_color);
}
.app-btn {
  width: 150px;
  border-radius: 2px;
  line-height: 2rem;
  background-color: #0241fd8c;
  color: #eef;
  text-transform: uppercase;
  margin: 0 auto;
  transition: background-color 0.4s;
  position: relative;
}
.app-btn:hover {
  background-color: #0241fd;
}
.app-btn--start {
  margin-top: 1rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
.todo {
  max-width: 32rem;
  width: 100%;
}
.todo__title {
  width: fit-content;
  margin: 0 auto;
}
.todo__list {
  margin-top: 1.25rem;
}
.todo__item {
  border: 1px solid var(--text_color);
  padding: 0.5rem;
}
.todo__item + .todo__item {
  margin-top: 1rem;
}
.todo__text {
  color: var(--text_color);
}
.todo__controls {
  padding-top: 0.5rem;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.todo__add-btn {
  width: 100%;
  margin-top: 0.5rem;
}

.todo__item--done {
  background-color: #0fe;
}
.todo__item--done .todo__text {
  opacity: 0.5;
}
.todo__item--done .todo__done-btn {
  display: none;
}


.app-footer {
  width: 100%;
  padding: 1rem 0;
  background-color: #0241fd8c;
  font-weight: 700;
  color: #af0;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000aa;
  z-index: 11;

  /* display: none; */
}
.modal__body {
  max-width: 700px;
  width: 90%;
  padding: 1rem;
  border-radius: 3px;
  background-color: #fff;
  overflow: auto;
}
.modal__message {
  margin-bottom: 0.7rem;
  text-align: center;
  color: var(--title_color);
}
.modal__message--unvalid {
  color:brown;
}
.modal__input {
  width: 100%;
  border: 1px solid var(--text_color);
  font-size: 18px;
}
.app-btn--status span {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  color: #014;
  line-height: 1.1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
.app-btn--status:hover span {
  visibility: visible;
  opacity: 1;
}

